/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* BODY */
body {
  background-color: #f8fafc;
  color: #111827;
}

/* TOP BAR */
.topbar {
  height: 56px;
  background-color: #1e3a8a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: 600;
}

/* LAYOUT */
.container {
  display: flex;
  height: calc(100vh - 56px);
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background-color: #0f172a;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: #e5e7eb;
  text-decoration: none;
  padding: 12px 16px;
  margin-bottom: 8px;
  border-radius: 6px;
  font-size: 15px;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #2563eb;
}

/* LOGOUT */
.sidebar .logout {
  margin-top: auto;
  background-color: #dc2626;
  text-align: center;
}

/* MAIN CONTENT */
.main {
  flex: 1;
  padding: 24px;
}

/* PAGE TITLE */
.page-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* DASHBOARD CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.card h3 {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 8px;
}

.card p {
  font-size: 28px;
  font-weight: bold;
  color: #1e3a8a;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 20px;
}

.product-table th {
  background: #0d6efd;
  color: white;
  padding: 12px;
  text-align: left;
}

.product-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.low-stock {
  color: white;
  background: red;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
}

.in-stock {
  color: white;
  background: green;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
}
/* ===== ADD PRODUCT PAGE ===== */

.content {
  padding: 30px;
}

.card {
  background: #ffffff;
  max-width: 800px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.form-grid input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.primary-btn {
  background-color: #1e3a8a;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #1d4ed8;
}
