:root {
  --bg: #f4f5ff;
  --card-bg: rgba(255,255,255,0.45);
  --card-border: rgba(255,255,255,0.7);
  --text: #111;
  --accent: #6c63ff;
  --accent-soft: #e9e7ff;
}

.dark {
  --bg: #111319;
  --card-bg: rgba(30,32,40,0.55);
  --card-border: rgba(255,255,255,0.08);
  --text: #f1f1f1;
  --accent: #7b6dff;
  --accent-soft: #1c1e29;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
  display: flex;
  transition: 0.3s;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  height: 100vh;
  background: var(--card-bg);
  backdrop-filter: blur(10px);
  border-right: 1px solid var(--card-border);
  overflow: hidden;
  transition: width 0.3s;
   flex-shrink: 0;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar h3 {
  padding: 1.2rem;
  font-weight: 700;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.9rem 1.2rem;
  margin: 0.2rem 0.7rem;
  text-decoration: none;
  color: var(--text);
  border-radius: 8px;
  transition: 0.2s;
}

.nav-link:hover {
  background: var(--accent-soft);
}

.nav-link.active {
  background: var(--accent);
  color: white;
}

.sidebar.collapsed .text {
  display: none;
}

.logout {
  color: #ff4f4f;
}

/* MAIN */
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* TOPBAR */
.topbar {
  height: 60px;
  background: var(--card-bg);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--card-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

/* BUTTONS */
.icon-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 0.8rem;
  color: var(--text);
}

/* CONTENT */
.content {
  padding: 1.5rem;
  overflow-y: auto;
}
